//special price template
#special-price {
    .grid .grid-item {
        margin-right: 1.2rem;
        margin-top: 1.5rem;
    }

    .grid .item .product img {
        transition: transform .5s ease;
    }

    .grid .item .product img:hover {
        transform: scale(1.1);
    }

}